<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<title>论骚之斌</title>
  {% load staticfiles %}
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
</head>
<body style="padding:60px">

<div class="container">
<!--nav-->
{% include 'top.html' %}
<!--nav end-->

<!--main-->
{% block main %}{% endblock %}
<!--main end-->


</div>
</body>
</html>