{% extends 'base.html' %}

{% block main %}
	<div class="row">
  	<div class="col-md-12 col-sm-12 col-xs-12">
    	<div class="pull-left"><h4><strong>{{ b1.board_name }}</strong> → <strong>{{ b2.board_name }}</strong></h4></div>
      <div class="pull-right"><a {% if islogin == 1 %}href="/post/{{ b2.id }}"{% endif %}><button class="btn btn-danger" {% if islogin != 1 %}data-toggle="modal" data-target="#login"{% endif %}>发表主题</button></a></div>
    </div>
  </div>
  <div class="row">
  	<div class="col-md-12 col-sm-12 col-xs-12">
    	<div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead style="background-color:#222; color:#FFF">
            <tr>
              <td class="col-md-7 col-sm-7 col-xs-7">主题</td>
              <td class="col-md-2 col-sm-2 col-xs-2">作者</td>
              <td class="col-md-1 col-sm-1 col-xs-1">阅读/回复</td>
              <td class="col-md-2 col-sm-2 col-xs-2">时间</td>
            </tr>
          </thead>
          <tbody>
          {% for p in post %}
            <tr {% if p.post_istop == True %}class="danger"{% endif %}>
              <td><a href="/show/{{ p.id }}">{{ p.post_title }}</a></td>
              <td>{{ p.post_user }}</td>
              <td>{{ p.post_clicks }}/{{ p.num_rep }}</td>
              <td>{{ p.post_date }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        <ul class="pagination">
        {% for p in pg.page_range %}
  				<li><a href="?page={{ p }}">{{ p }}</a></li>
        {% endfor %}
				</ul>
    	</div>    
    </div>
  </div>
  
<!--login modal-->  
{% include 'login.html' %}
<!--login modal end-->
{% endblock %}